*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.idea/
.vscode/

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.docx

*.py
*.latex
*.md
!README.md
*.bat
__pycache__/
*.jar
*.json
*.txt
*.sh
*.tex
PANDOCIMAGES/
helper_files/
out/
*.command
.DS_Store
!_pullnotes.bat
!_pullnotes.sh
!td.tex
