*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.idea/
.vscode/

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.docx

*.py
*.latex
*.md
!README.md
*.bat
__pycache__/
*.jar
*.json
*.txt
*.sh
*.tex
PANDOCIMAGES/
helper_files/
out/
*.command
.DS_Store
!_pullnotes.bat
!_pullnotes.sh
!td.tex
*.pdf
!CSC209.pdf
!CSC236.pdf
!CSC258.pdf
!CSC263.pdf
!CSC343.pdf
!MAT137.pdf
!MAT223.pdf
!MAT235.pdf
!STA237.pdf
!STA238.pdf
!CSC367.pdf
!CSC320.pdf
!CSC373.pdf
!CSC369.pdf