*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.idea/
.vscode/

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.docx

*.py
*.latex
*.md
!README.md
*.bat
__pycache__/
*.jar
*.json
*.txt
*.sh
PANDOCIMAGES/
helper_files/